.body {
    background-color: white;
}

.grid {
    display: flex;
    height: 800px;
    width: 800px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.cell {
    border: 1px solid white;
}